body {  
  background-color: FCF596;
  color: rgb(30, 30, 30);
  font-family: Playwrite England SemiJoined;
  font-size: 16px;
  font-weight: lighter;
 }

h1, h2, h3 {
	font-family: Oswald;
}

h1 {
  color: 7ED4AD;
  font-weight: 900; 
  font-size: 32px;
  
}


h2 {
  color: 898121;
  font-size: 24px;
  font-weight: 400 ;
}

a {
 font-family: Oswald;
 color: hotpink;
 font-weight: bold;
 font-size: 17px;
 font-weight: 600;
 text-decoration: none;
}

a:hover {
 color: green;
} 


div{
	background: lightgoldenrodyellow;
}

.container{
	width: 700px;
	margin: 40px auto;
}

@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}
@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}

.card-white {
	background-color: lightgoldenrodyellow;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}

.img-circle{
	border-radius: 50%;
}
.btn-yellow{
	background-color: hotpink;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}
.btn-yellow:hover {
	background-color: darkgrey;
	color: whitesmoke;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i {
	font-size: 50px;
	color: rgb(226, 245, 219);
}
.list-inline i:hover {
	color: hotpink;
}

#introduction p {
	margin-bottom: 40px;
}